<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Objetivo</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let curriculo of curriculos">
				<td>{{curriculo.id}}</td>
				<td>{{curriculo.usuario.nome}}</td>
				<td>{{curriculo.objetivo}}</td>
				<td>
					<button class="view" [routerLink]="['/view', curriculo.id]"><div class="glyphicon glyphicon-eye-open"></div> Visualizar</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<button class="btn btn-primary" (click)="add()"><div class="glyphicon glyphicon-plus"></div> Novo Curriculo</button>